*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 3412px;
    background-color: black;
}

.logo{
    width: 50px;
    position: absolute;
    right: 5px;
    top: 5px;
}

header>h1{
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
    margin: auto;
    font-family: 'Chakra Petch', sans-serif;
}

header{
    background-image: url(jc-gellidon-XmYSlYrupL8-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    height: 500px;
}

nav>a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 20px;
    transition: all 0.30s ease;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}

nav>a:hover{
    transform:scale(1.2);
    background-color: orangered;
    color: black;
}

nav{
    display: grid;
    grid-auto-flow:column;
    width: 60%;
    margin: auto;
    font-family: 'Chakra Petch', sans-serif;
}

header>p{
    width: 61%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.66);    
    margin: auto;
    font-size: 1em;
    font-family: 'Chakra Petch', sans-serif;
}

footer{
    position:fixed;
    bottom: 0px;
    width: 100%;
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}

img{
    width: 49.5%;
}

.texto{
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}

.fm{
    display: grid;
    flex-direction: column;
}

.formulario{
    background-color: black;
    width: 40%;
    margin: auto;
    padding: 20px;
}

.fm > *{
    margin: 10px 0px 0px 0px;
    padding: 15px;
    border-radius: 10px;
}

h2{
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 1px;
    margin-top: 1px;
    background-image: radial-gradient(black,#505050);
    font-family: 'Chakra Petch', sans-serif;
}

h3{
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}

ol{
    background-color: black;
    color: white;
    margin-bottom: 5px;
    font-family: 'Chakra Petch', sans-serif;
}

ul{
     background-color: black;
    color: white;
    margin-bottom: 20px;
    font-family: 'Chakra Petch', sans-serif;
}

.contenedor{
    margin: auto;
    width: 23%;
}

.mapa{
    display: block;
    margin: auto;
    width: 90%;
}

.parrafo{
    /* background-image: linear-gradient(to right,black,orange,red);
    background-image: radial-gradient(black 70%,#935f00);*/
    width: 100%;
    margin: auto;
    color: white;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}

table{
    background-image: linear-gradient();
    color:white;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}

td,th{
    border: 2px solid white;
    padding: 10px;
    font-family: 'Chakra Petch', sans-serif;
}

th{
    background-color: black;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
}

caption{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Chakra Petch', sans-serif;
}

h1{
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin: auto;
    font-family: 'Chakra Petch', sans-serif;
}