/* Pedro Giménez
Noviembre 2020
*/
html{
    background-color: aquamarine;
}
.contenedor{
    background-color: white;
    border: 3px dotted black;
    padding: 10px;
    margin: 20px;
    width: 55%;
    margin: auto;
}
ol{
    list-style: lower-roman;
}
ul{
    list-style: circle;
}