*{    
    margin: 0px;
    box-sizing: border-box;
}

div{
    padding: 20px;
    border: solid black 3px;
    width: 25%;
    float: left;
}

.roja{
    background-color: red;   
}
.amarilla{
    background-color: yellow;
    clear:both;
}
.verde{
    background-color: limegreen;
    
}
.azul{
    background-color: aqua;
    
}
