/*
Galería de imágenes ç
Pedro Giménez
2020
*/
main{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    margin-top: 25px;
}
main>img{
    width: 65%;
    margin:auto;

}
header{
    background-color: crimson;
    color: aliceblue;
    padding: 20px;
    text-align: center;
    
}

footer{
    position:fixed;bottom: 0px;
    width: 100%;
    background-color: crimson;
    color: aliceblue;
    padding: 20px;
    text-align: center;
    
}
img:hover{
    /*transform: scale(1.25) */
     transform: rotate(-10deg);
    border: 5px solid black; 
}
img{
    transition: all 0.5s ease
}