*{
    margin: 0px;
}

header,footer{
    background-color: darkgoldenrod;
    padding:25px; 
    color: white;
    text-align: center;
}
main{
    height: 500px;
}
section{
    width: 33%;
    background-color: lightgray;
    padding: 20px;
    float: left;
}
footer{
    clear: both;
}